{% extends 'base/base.html' %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>detail of {{ book.name }}</title>
</head>
<body>
{% block content %}
<div>
    <li>
        <ul><b> book name:</b> {{ book.name }}</ul>
        <ul><b>description:</b> {{ book.description }}</ul>
        <ul><b>
            {% for a in book.author.all %}authors:</b> {{ a }},
            {% endfor %}
        </ul>
        <ul><b>created time:</b> {{ book.created_time }}</ul>
        <ul><b>book file:</b> <a href="{% do %}">{{ book.file }}</a></ul>
    </li>
</div>
            <hr>
{% endblock content %}


</body>
</html>