{% extends 'base/base.html' %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>login</title>
</head>
<body>
{% block content %}
<h1>fill form to login </h1>

{% for message in messages %}
    <h5 style="color: red">{{ message }}</h5>
{% endfor %}

<form method="post" >
    {% csrf_token %}
    <p>User name</p>
    <input type="text" name="username"/>
    <p>password</p>
    <input type="password" name="password"/>

    <input type="submit">

</form>
{% endblock content %}

</body>
</html>